<% breadcrumb :team_claims %>

<%= render PageHeaderComponent.new(title: "Team Claims Management") do |c| %>
  <% c.with_supporting_text { "Keep track of all claims from your team members" } %>
<% end %>

<div>
  <%= turbo_frame_tag "team-claim-groups-list" do %>
    <div class="flex flex-row items-center justify-between py-3">
      <%= search_form_for(@query, url: team_claims_path, class: "form", data: { turbo_action: "advance" }) do |f| %>
        <div class="flex flex-row items-center gap-4">
          <%= render(ButtonFilterComponent.new(label: "Group Name", value: @filtering_values[:name], size: :large)) do %>
            <div class="flex flex-col gap-3 p-3">
              <span class="text-sm font-medium">Filter by Group name</span>
              <div class="flex gap-2 items-center">
                <label class="text-sm text-gray-700">is contains</label>
                <div class="flex-1">
                  <%= f.text_field :name_i_cont, class: "block rounded-md border-gray-300 text-xs shadow-sm focus:border-primary-400 focus:ring focus:ring-primary-200 focus:ring-opacity-50 w-full" %>
                </div>
              </div>
              <%= f.submit "Apply", class: "btn btn--block btn--primary btn--extra-small" %>
            </div>
          <% end %>

          <%= render(ButtonFilterComponent.new(label: "Total amount", value: @filtering_values[:total_amount])) do %>
            <div class="flex flex-col gap-3 p-3">
              <span class="text-sm font-medium">Filter by Total amount</span>
              <div class="flex flex-col gap-2.5">
                <%= f.fields_for :c, @total_amount_condition || f.object.send("build_condition") do |c| %>
                  <%= c.hidden_field :a, name: "query[c][][a][]", value: "total_amount" %>
                  <%= c.predicate_select({ only: ["eq", "lt", "gt"], compounds: false },
                    { name: "query[c][][p]", class: "block w-full rounded-md border-gray-300 text-sm shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50" }) %>
                  <%= f.text_field :v, name: "query[c][][v][]",
                                       value: c.object.values.first.value,
                                       class: "block rounded-md border-gray-300 text-xs shadow-sm focus:border-primary-400 focus:ring focus:ring-primary-200 focus:ring-opacity-50 w-full" %>
                <% end %>
              </div>
              <%= f.submit "Apply", class: "btn btn--block btn--primary btn--extra-small" %>
            </div>
          <% end %>

          <%= render(ButtonFilterComponent.new(label: "Status", value: @filtering_values[:statuses])) do %>
            <div class="flex flex-col gap-3 p-3">
              <span class="text-sm font-medium">Filter by Status</span>
              <%= f.collection_check_boxes :by_status,
                                           ClaimGroup.approval_statuses.keys,
                                           proc { |c| c },
                                           proc { |c| c.humanize },
                                           include_hidden: false do |b| %>
                <div class="flex gap-2 items-center">
                  <%= b.check_box(class: "h-4 w-4 rounded border border-gray-300 bg-white") %>
                  <%= b.label(class: "text-sm text-gray-700") %>
                </div>
              <% end %>
              <%= f.submit "Apply", class: "btn btn--block btn--primary btn--extra-small" %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="flex flex-row items-center gap-4 p-0">
        <%= button_to team_claims_path, method: :get,
                                        class: "btn btn--link-gray",
                                        form: { data: { turbo_action: "advance" } },
                                        disabled: params[:query].blank? do %>
          <%= inline_svg_tag "icons/x-close", class: "stroke-current h-3 w-3" %>
          Clear Filters
        <% end %>
      </div>
    </div>
    <% if @pagy.count > 0 %>
      <table class="table table--hoverable">
        <thead>
          <tr>
            <th scope="col">Requestor</th>
            <th scope="col">Group Name</th>
            <th scope="col">Status</th>
            <th scope="col">Submitted</th>
            <th scope="col" style="text-align: right;">Total Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @claim_groups.decorate.each do |cg| %>
            <tr>
              <td>
                <%= link_to team_claim_path(cg), class: "unstyled-link", data: { turbo_frame: "turbo_modal" } do %>
                  <div class="flex flex-col">
                    <span><%= cg.employee.name %></span>
                    <span><%= cg.employee.account.email %></span>
                  </div>
                <% end %>
              </td>
              <td>
                <%= link_to cg.name, team_claim_path(cg), class: "unstyled-link", data: { turbo_frame: "turbo_modal" } %>
              </td>
              <td>
                <%= link_to team_claim_path(cg), class: "unstyled-link", data: { turbo_frame: "turbo_modal" } do %>
                  <%= render BadgeComponent.new(title: cg.approval_status.humanize, status: cg.status_badge, size: :small) %>
                <% end %>
              </td>
              <td>
                <%= link_to cg.submission_at, team_claim_path(cg), class: "unstyled-link", data: { turbo_frame: "turbo_modal" } %>
              </td>
              <td>
                <%= link_to team_claim_path(cg), class: "unstyled-link text-right", data: { turbo_frame: "turbo_modal" } do %>
                  <%= humanized_money_with_symbol(cg.total_amount) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    <% else %>
      <%= render EmptyStateComponent.new(title: "No Claim Requests") do |c| %>
        <% c.with_description { "Looks like your team has not submitted any claims yet. Check back later or encourage them to submit their claims." } %>
      <% end %>
    <% end %>
  <% end %>
</div>
