<div class="relative flex">
  <div class="steps">
    <% @steps.each_with_index do |step, index| %>
      <%
        order = index + 1
        passed = @active > order
      %>
      <%= tag.div class: ["steps__order",
                         { "steps__order--active": order == @active }] do %>
        <% if passed %>
          <%= inline_svg_tag "icons/check-circle.svg", class: "h-6 w-6 text-primary-500 fill-current" %>
        <% else %>
          <h3><%= order %></h3>
        <% end %>
        <%= tag.h3 class: ["steps__title", { "steps__title--passed": passed }] do %>
          <%= step %>
        <% end %>
      <% end %>
      <% if index < 2 %>
        <div class="w-12 h-0 border border-gray-300"></div>
      <% end %>
    <% end %>
  </div>
</div>
