<% breadcrumb :new_user %>

<%= render PageHeaderComponent.new(title: "Invite User") do |c| %>
  <% c.with_supporting_text { "Invite your team member so they can apply for leave, claims and many more." } %>

  <% c.with_actions do %>
    <%= link_to "Back", users_path, class: "btn btn--secondary-gray btn--small" %>
  <% end %>
<% end %>

<div class="flex flex-col gap-6">
  <% unless LeaveType.exists?(status: true) %>
    <%= render(AlertComponent.new) do %>
      You haven't configured your Leave Types yet. To ensure your team members receive leave balances, please set up your Leave Types first by clicking <%= link_to "here", settings_company_path, class: "underline" %>.
    <% end %>
  <% end %>
  <div class="tabs">
    <div class="tabs__list" role="tablist">
      <div class="tabs__item" role="presentation">
        <a href="#about" class="tabs__link">About</a>
      </div>
      <div class="tabs__item" role="presentation">
        <a href="#personal" class="tabs__link">Personal Info</a>
      </div>
      <div class="tabs__item" role="presentation">
        <a href="#address" class="tabs__link">Address</a>
      </div>
      <div class="tabs__item" role="presentation">
        <a href="#work" class="tabs__link">Work</a>
      </div>
      <div class="tabs__item" role="presentation">
        <a href="#payment" class="tabs__link">Payment</a>
      </div>
    </div>
    <%= render partial: "form", locals: { user: @user, form_path: @form_path, form_method: @form_method } %>
  </div>
</div>
