<%= simple_form_for(@user, as: :user, method: :patch, url: settings_me_path, html: {
  id: dom_id(@user, "form"),
  class: "form flex-1"
}) do |f| %>
  <div class="tabs__body">
    <div class="tabs__section">
      <div class="section-header section-header--divider">
        <h3 class="section-header__title">Personal Info</h3>
        <span class="section-header__help">Update your photo and personal details here.</span>
      </div>
      <div class="flex flex-col gap-5">
        <%= f.input :name, label: "Display name", support_text: "Normally is the full name", input_html: { class: "w-96" } %>
        <%= f.simple_fields_for :account, include_id: false do |fe| %>
          <%= fe.input :email, support_text: "A company email", placeholder: "user@company.com", input_html: { class: "w-96" } %>
        <% end %>
        <%= f.input :avatar, label: "Avatar", support_text: "Update your avatar and this is what you will see in the top navigation" %>
        <div class="input-group input-group--horizontal">
          <div class="input-group__text-container">
            <label class="input-group__label" for="user_manager_id"><%= f.label :about, "About me" %></label>
            <span class="input-group__help">Describe yourself here</span>
          </div>
          <div class="input-group__content">
            <%= f.markdown_field :about, class: "input-group__input w-full", rows: 5 %>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__footer tabs__footer--divider">
      <%= f.button :submit, "Save", class: "btn btn--primary" %>
    </div>
  </div>
<% end %>
