<% flash.each do |type, message| %>
  <div
    data-controller="notification"
    data-notification-hidden-value="false"
    data-notification-delay-value="1500"
    class="transition transform duration-1000 fixed inset-0 flex items-end justify-center px-4 py-6 pointer-events-none sm:p-4 sm:pt-20 sm:items-start sm:justify-end z-50"
    data-transition-enter-from="opacity-0 translate-x-6"
    data-transition-enter-to="opacity-100 translate-x-0"
    data-transition-leave-from="opacity-100 translate-x-0"
    data-transition-leave-to="opacity-0 translate-x-6"
  >
    <div class="max-w-sm w-full bg-white shadow-lg pointer-events-auto rounded-lg overflow-hidden p-4">
      <div class="flex items-start">
        <%= inline_svg_tag "icons/check-circle-outline", class: "h-6 w-6 text-primary-600" %>

        <div class="ml-3 w-0 flex-1 pt-0.5">
          <p class="text-sm text-gray-500" data-notification-target="message"><%= message %></p>
        </div>

        <div class="ml-4 flex-shrink-0 flex">
          <button
            data-action="notification#hide"
            class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500"
          >
            <span class="sr-only">Close</span>
            <%= inline_svg_tag "icons/x-mark", class: "h-5 w-5 fill-current" %>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%# currently we need to have 2 notification element that rendered from the turbo stream and flash message %>
<div
  data-controller="notification"
  data-notification-hidden-value="true"
  data-notification-delay-value="1500"
  data-notification-remove-later-value="false"
  data-action="turbo-notification:show@document->notification#show"
  class="hidden transition transform duration-1000 fixed inset-0 flex items-end justify-center px-4 py-6 pointer-events-none sm:p-4 sm:pt-20 sm:items-start sm:justify-end z-50"
  data-transition-enter-from="opacity-0 translate-x-6"
  data-transition-enter-to="opacity-100 translate-x-0"
  data-transition-leave-from="opacity-100 translate-x-0"
  data-transition-leave-to="opacity-0 translate-x-6"
>
  <div class="max-w-sm w-full bg-white shadow-lg border border-gray-200 pointer-events-auto rounded-lg overflow-hidden p-4">
    <div class="flex items-start">
      <%= inline_svg_tag "icons/check-circle-outline", class: "h-6 w-6 text-primary-600" %>

      <div class="ml-3 w-0 flex-1 pt-0.5">
        <p class="text-sm text-gray-500" data-notification-target="message"></p>
      </div>

      <div class="ml-4 flex-shrink-0 flex">
        <button
          data-action="notification#hide"
          class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500"
        >
          <span class="sr-only">Close</span>
          <%= inline_svg_tag "icons/x-mark", class: "h-5 w-5 fill-current" %>
        </button>
      </div>
    </div>
  </div>
</div>
