<%= form_with url: rodauth.login_path, class: "space-y-4 md:space-y-6 form", method: :post, data: { turbo: false } do |form| %>
  <%= render "error" %>

  <div class="form__group">
    <%= form.label "login", rodauth.login_label, class: "form__label" %>
    <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", placeholder: "Enter your email", autocomplete: "email", required: true, class: "form__input #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
  </div>

  <% unless rodauth.skip_password_field_on_login? %>
    <div class="form__group">
      <%= form.label "password", rodauth.password_label, class: "form__label" %>
      <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form__input #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
    </div>
  <% end %>

  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <%= form.check_box rodauth.remember_param, class: "h-4 w-4 rounded border-gray-300 text-primary-600 focus:ring-primary-500" %>
      <%= form.label rodauth.remember_param, rodauth.remember_remember_label, class: "ml-2 block text-sm text-gray-900" %>
    </div>

    <div class="text-sm">
      <%= link_to rodauth.reset_password_request_route, class: "font-medium text-primary-600 hover:text-primary-500" do %>
        <%= rodauth.reset_password_request_link_text %>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit rodauth.login_button, class: "btn btn--block btn--primary" %>
  </div>
<% end %>
