<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <%= link_to root_path, class: "flex items-center mb-6" do %>
      <%= inline_svg_tag "logo.svg", class: "fill-current h-12" %>
    <% end %>
    <div class="w-full p-6 bg-white rounded-lg shadow md:mt-0 sm:max-w-md sm:p-8">
      <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        <%= rodauth.reset_password_page_title %>
      </h1>
      <p class="font-light text-gray-500">
        Your new password must be different from previous used passwords.
      </p>
      <%= form_with url: rodauth.reset_password_path, method: :post, class: "space-y-4 md:space-y-6", data: { turbo: false } do |form| %>
        <div>
          <%= form.label "password", rodauth.password_label, class: "form-label mb-2" %>
          <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "form__error", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
        </div>

        <% if rodauth.require_password_confirmation? %>
          <div>
            <%= form.label "password-confirm", rodauth.password_confirm_label, class: "form-label mb-2" %>
            <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_confirm_param)}", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "form__error", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
          </div>
        <% end %>

        <div>
          <%= form.submit rodauth.reset_password_button, class: "btn btn--block btn--primary" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
