<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <%= link_to root_path, class: "flex items-center mb-6" do %>
      <%= inline_svg_tag "logo.svg", class: "fill-current h-12" %>
    <% end %>
    <div class="w-full p-6 bg-white rounded-lg shadow md:mt-0 sm:max-w-md sm:p-8">
      <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        <%= rodauth.reset_password_request_page_title %>
      </h1>
      <p class="font-light text-gray-500">
        <%= rodauth.reset_password_explanatory_text %>
      </p>
      <%= form_with url: rodauth.reset_password_request_path, method: :post, class: "form mt-4 space-y-4 lg:mt-5 md:space-y-5", data: { turbo: false } do |form| %>
        <% if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param) %>
          <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
        <% else %>
          <div class="form__group">
            <%= form.label "login", rodauth.login_label, class: "form__label" %>
            <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", placeholder: "email@company.com", required: true, class: "form__input #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
          </div>
        <% end %>

        <div>
          <%= form.submit rodauth.reset_password_request_button, class: "btn btn--block btn--primary" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
