<!DOCTYPE html>
<html>
  <head>
    <title>Installation | Libur.run</title>
    <link href="/favicon.svg" type="image/svg+xml" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="relative onboarding">
      <div class="max-w-[90rem] mx-auto flex min-h-screen">
        <div class="w-[29rem] flex flex-col items-start justify-between p-12 bg-gray-50">
          <%# container %>
          <div class="flex flex-col gap-20 w-full">
            <%= inline_svg_tag "logo.svg", class: "fill-current h-8" %>
            <div id="installation_stepper">
              <%= render(Installation::StepperComponent.new(current_step: @current_step || 1)) %>
            </div>
          </div>
          <%# footer %>
          <div class="flex w-full items-end justify-between">
            <span class="text-gray-600 text-sm font-normal">&copy; Libur.run <%= Date.current.year %></span>
            <span class="inline-flex items-center gap-2 text-gray-600 text-sm font-normal">
              <%= inline_svg_tag "icons/envelope.svg", class: "stroke-current h-4 w-4" %>
              support@libur.run
            </span>
          </div>
        </div>
        <div class="content">
          <div class="content__container">
            <div class="content__header">
              <span class="content__title" id="installation_title"><%= yield :header_title %></span>
              <span class="content__subtitle" id="installation_subtitle"><%= yield :header_subtitle %></span>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
